<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="appmsw-dbdeploy.ZPM">
<Module>
<Name>appmsw-dbdeploy</Name>
<Version>1.0.0</Version>
<Description>An example of deploying solutions with prepared databases, even without source code.</Description>
<Packaging>module</Packaging>
<Keywords>tools admin database deploy</Keywords>
<Author>
<Person>Mikhaylenko Sergey</Person>
<CopyrightDate>2021</CopyrightDate>
<License>MIT</License>
<Notes>
repository:
https://github.com/SergeyMi37/appmsw-dbdeploy
description:
An example of deploying a solution with databases from the archive. (Can be expanded without source codes).
</Notes>
</Author>
<SourcesRoot>src</SourcesRoot> 
<Resource Name="appmsw.sys.PKG"/> 
<FileCopy Name="db-tgz/" Target="${mgrdir}db-tgz/"/>
<AfterInstallMessage>
 Create archive for database deployment:
 USER>do ##class(appmsw.sys.dbdeploy).CreateTGZ("useroles","/irisdev/app/db-tgz/")
 Create database from archive:
 USER>do ##class(appmsw.sys.dbdeploy).CreateDbFromTgz("useroles","useroles8")
</AfterInstallMessage>
</Module>
</Document>
</Export>